@using Game.Client.Helpers

<MudDialog>
    <DialogContent>
        <MudCard>
            <MudCardMedia Image="@Information.ImgSource" Style="height: 100px; width: 100px; margin-left: auto; margin-right: auto;" />
        </MudCard>
        <MudText>@Information.Description</MudText>

        @if (_isResourceProductionDialog)
        {
            <MudSimpleTable Style="overflow-x: auto;" Class="mt-2">
                <tbody>
                    <tr>Resource production</tr>
                    <tr>
                        <td>@Information.Content.GetType().GetProperty("Production").GetValue(Information.Content, null)</td>
                        <td>Per hour</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
        @if (_isWarehouseDialog)
        {
            <MudSimpleTable Style="overflow-x: auto;" Class="mt-2">
                <tbody>
                    <tr>Storage capacity</tr>
                    <tr>
                        <td>@Information.Content.GetType().GetProperty("Storage").GetValue(Information.Content, null)</td>
                        <td><i class="fas fa-tree"></i></td>
                    </tr>
                    <tr>
                        <td>@Information.Content.GetType().GetProperty("Storage").GetValue(Information.Content, null)</td>
                        <td><i class="fas fa-gem"></i></td>
                    </tr>
                    <tr>
                        <td>@Information.Content.GetType().GetProperty("Storage").GetValue(Information.Content, null)</td>
                        <td><i class="fas fa-coins"></i></td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
        @if (_isFarmDialog)
        {
            <MudSimpleTable Style="overflow-x: auto;" Class="mt-2">
                <tbody>
                    <tr>
                        <td>Maximum population</td>
                        <td>@Information.Content.GetType().GetProperty("Population").GetValue(Information.Content, null)</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
        @if (_isWallDialog)
        {
            <MudSimpleTable Style="overflow-x: auto;" Class="mt-2">
                <tbody>
                    <tr>
                        <td>City wall defense value</td>
                        <td>@Information.Content.GetType().GetProperty("DefenseValue").GetValue(Information.Content, null)</td>
                    </tr>
                    <tr>
                        <td>Defense value multiplier</td>
                        <td>@Information.Content.GetType().GetProperty("Multiplier").GetValue(Information.Content, null)</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
        <MudSimpleTable Style="overflow-x: auto;" Class="mt-2">
            @if (Information.UpgradeCost != null)
            {
                <thead>
                    <tr>Next level's costs</tr>
                    <tr>
                        <td><MudIcon Icon="fas fa-tree" /></td>
                        <td><MudIcon Icon="fas fa-gem" /></td>
                        <td><MudIcon Icon="fas fa-coins" /></td>
                        <td><MudIcon Icon="fas fa-user" /></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>@Information.UpgradeCost.Wood </td>
                        <td>@Information.UpgradeCost.Stone </td>
                        <td>@Information.UpgradeCost.Silver </td>
                        <td>@Information.UpgradeCost.Population </td>

                    </tr>
                </tbody>
            }
            else
            {
                <tr><p class="mt-2">You have already reached the highest level</p></tr>
            }
        </MudSimpleTable>
    </DialogContent>
    <DialogActions>
        <MudButton Class="d-flex justify-content-center" OnClick="Close">Close window</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public BuildingInformation Information { get; set; }


    void Close() => MudDialog.Close(DialogResult.Ok(true));

    private bool _isResourceProductionDialog;
    private bool _isWarehouseDialog;
    private bool _isFarmDialog;
    private bool _isWallDialog;


    protected override void OnInitialized()
    {

        _isResourceProductionDialog = (Information.Content?.GetType().GetProperty("Production") != null);
        _isWarehouseDialog = (Information.Content?.GetType().GetProperty("Storage") != null);
        _isFarmDialog = (Information.Content?.GetType().GetProperty("Population") != null);
        _isWallDialog = (Information.Content?.GetType().GetProperty("DefenseValue") != null &&
            Information.Content?.GetType().GetProperty("Multiplier") != null);
    }


}