@inject Game.Shared.IServices.IViewService IViewService
@inject IJSRuntime JSRuntime
@inject Helpers.UnitsOfCityState UnitsOfCityState
@implements IDisposable

@if (UnitsOfCityState.UnitsOfTheCity == null)
{

}
else
{
    <div class="d-inline-flex ml-auto mr-5 pr-4 mt-4">
        <table>
            <tbody class="tooltip-spearman">
                <tr>
                    <td>
                        <img src="/images/DefensiveUnits/Spearman.svg" width="34" height="34" />
                    </td>
                </tr>
                <tr><td>@UnitsOfCityState.UnitsOfTheCity.Spearmans</td></tr>
                <tr id="tooltip-spearman-name"><td>Spearman</td></tr>
            </tbody>
            <tbody class="tooltip-swordsman">
                <tr>
                    <td>
                        <img src="/images/DefensiveUnits/Swordsman.svg" width="34" height="34" />
                    </td>
                </tr>
                <tr><td>@UnitsOfCityState.UnitsOfTheCity.Swordsmans</td></tr>
                <tr id="tooltip-swordsman-name"><td>Swordsman</td></tr>
            </tbody>
            <tbody class="tooltip-axe-fighter">
                <tr>
                    <td>
                        <img src="/images/OffensiveUnits/Axe Fighter.svg" width="34" height="34" />
                    </td>
                </tr>
                <tr><td>@UnitsOfCityState.UnitsOfTheCity.AxeFighers</td></tr>
                <tr id="tooltip-axe-fighter-name"><td>Axe fighter</td></tr>
            </tbody>
            <tbody class="tooltip-archer">
                <tr>
                    <td>
                        <img src="/images/DefensiveUnits/Archer.svg" width="34" height="34" />
                    </td>
                </tr>
                <tr><td>@UnitsOfCityState.UnitsOfTheCity.Archers</td></tr>
                <tr id="tooltip-archer-name"><td>Archer</td></tr>
            </tbody>
            <tbody class="tooltip-light-cavalry">
                <tr>
                    <td>
                        <img src="/images/OffensiveUnits/Light Cavalry.svg" width="34" height="34" />
                    </td>
                </tr>
                <tr><td>@UnitsOfCityState.UnitsOfTheCity.LightCavalry</td></tr>
                <tr id="tooltip-light-cavalry-name"><td>Light cavalry</td></tr>
            </tbody>
            <tbody class="tooltip-mounted-archer">
                <tr>
                    <td>
                        <img src="/images/OffensiveUnits/Mounted Archer.svg" width="34" height="34" />
                    </td>
                </tr>
                <tr><td>@UnitsOfCityState.UnitsOfTheCity.MountedArcher</td></tr>
                <tr id="tooltip-mounted-archer-name"><td>Mounted archer</td></tr>
            </tbody>
            <tbody class="tooltip-heavy-cavalry">
                <tr>
                    <td>
                        <img src="/images/DefensiveUnits/Heavy Cavalry.svg" width="34" height="34" />
                    </td>
                </tr>
                <tr><td>@UnitsOfCityState.UnitsOfTheCity.HeavyCavalry</td></tr>
                <tr id="tooltip-heavy-cavalry-name"><td>Heavy cavalry</td></tr>
            </tbody>
        </table>
    </div>
}


@code {
    [Parameter]
    public int CityIndex { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        var units = await IViewService.GetUnitsOfCity(CityIndex);
        UnitsOfCityState.SetUnitsOfTheCity(units);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("HoverBehaviour");
    }

    protected override void OnInitialized()
    {
        UnitsOfCityState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UnitsOfCityState.OnChange -= StateHasChanged;
    }
}
